@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit browsers (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
}